<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navBar">
      <div class="containerImg">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <img class="logo" src="/img/Egg.png" alt="Img logo egg" />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto elementos">
          <!-- Libros -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Libros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" th:href="@{/libro/lista}">Listar Libros</a>
              </li>
            </ul>
          </li>
  
          <!-- Autores -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Autores
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" th:href="@{/autor/lista}">Listar Autores</a>
              </li>
            </ul>
          </li>
  
          <!-- Editoriales -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Editoriales
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" th:href="@{/editorial/lista}">Listar Editoriales</a>
              </li>
            </ul>
          </li>
  
          <!-- Perfil -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              th:if="${session.usuariosession != null}"
            >
              Perfil
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
            </ul>
          </li>
  
          <!-- Mostrar opción de login si no hay sesión -->
          <li class="nav-item" th:if="${session.usuariosession == null}">
            <a class="nav-link" href="/login">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  